@use './theme.scss' as theme;
@use '@angular/material' as mat;
@import './assets/bootstrap-grid.min.css';

@include mat.elevation-classes();
@include mat.app-background();

html,
body {
  height: 100%;
  margin: 0;
  font-family: Ginto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

html {
  @include mat.all-component-themes(theme.$dark-theme);


  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors(theme.$light-theme);
  }
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 16px;
}

.w-100 {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.v-middle {
  vertical-align: middle;
}

.paginator {
  margin: 2px auto;
  background-color: var(--mat-paginator-container-background-color);
}

mat-nav-list .mat-icon {
  margin-right: 4px;
  vertical-align: middle;
}

mat-panel-title .mat-icon {
  margin-right: 4px;
  vertical-align: middle;
}

// Fix Angular Material 20.1+ icon alignment issue in buttons
// See: https://github.com/angular/components/issues/31576

.mat-mdc-button-base .mat-icon {
  vertical-align: middle;
}

// .mat-mdc-button-base {
//   .mat-icon {
//     min-height: fit-content;
//     vertical-align: middle;
//   }

//   // Fix mat-spinner alignment in buttons
//   mat-spinner {
//     display: inline-block;
//     vertical-align: middle;
//   }
// }

// Fix mat-icon alignment in mat-chip
mat-chip {
  .mat-icon {
    min-height: unset;
    vertical-align: middle;
  }
}

// Detail page styles
.detail-label {
  width: 160px;
  display: inline-block;
  font-weight: 500;
}

.pre-wrap {
  white-space: pre-wrap;
}