<div class="aimodel-info-list-page">
  <div class="toolbar">
    <div class="d-flex align-items-center gap-2 justify-content-between p-1">
      <div class="d-flex gap-2 align-items-center">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>{{ i18nKeys.aiModelInfo.providerId | translate }}</mat-label>
          <mat-select [(ngModel)]="filterDto.providerId">
            <mat-option [value]="null">{{ i18nKeys.common.all | translate }}</mat-option>
            @for (item of availableProviders(); track item.id) {
              <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="filter()">
          {{ i18nKeys.common.search | translate }}
        </button>
      </div>

      <button mat-flat-button color="accent" (click)="openAdd()">
        {{ i18nKeys.common.add | translate }}
      </button>
    </div>
  </div>

  @if (isLoading()) {
    <div class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
  <table mat-table [dataSource]="dataSource" #table="matTable">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ i18nKeys.aiModelInfo.name | translate }}
      </th>
      <td mat-cell *matCellDef="let item">
        <span class="d-inline-flex align-items-center gap-1">
          <mat-icon class="model-type-icon primary" [matTooltip]="item.modelTypeLabel | translate">{{ item.modelTypeIcon }}</mat-icon>
          <span>{{ item.name }}</span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>
        {{ i18nKeys.aiModelInfo.displayName | translate }}
      </th>
      <td mat-cell *matCellDef="let item">
        {{ item.displayName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="contextLength">
      <th mat-header-cell *matHeaderCellDef>
        {{ i18nKeys.aiModelInfo.maxContextTokens | translate }}
      </th>
      <td mat-cell *matCellDef="let item">
        {{ item.contextLengthDisplay }}
      </td>
    </ng-container>

    <ng-container matColumnDef="supportsChat">
      <th mat-header-cell *matHeaderCellDef>
        {{ i18nKeys.aiModelInfo.capabilities | translate }}
      </th>
      <td mat-cell *matCellDef="let item">
        <span class="d-inline-flex align-items-center gap-1">
          @for (capability of item.capabilityIcons; track capability.label) {
            <mat-icon
              class="capability-icon primary"
              [matTooltip]="capability.label | translate">
              {{ capability.icon }}
            </mat-icon>
          }
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdTime">
      <th mat-header-cell *matHeaderCellDef>
        {{ i18nKeys.common.createdTime | translate }}
      </th>
      <td mat-cell *matCellDef="let item">
        {{ item.createdTime | date:'short' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        {{ i18nKeys.common.actions | translate }}
      </th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button class="secondary" (click)="openDetail(item.id)"><mat-icon>visibility</mat-icon></button>
        <button mat-icon-button class="primary" (click)="openEdit(item.id)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button class="accent" (click)="deleteItem(item.id)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [length]="total" [pageIndex]="(filterDto.pageIndex ?? 1) - 1" [pageSize]="filterDto.pageSize" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>
  }

</div>